# folders
.libs
bin
obj
.vscode
.github
node_modules
Test
test
# files
bin.meta
obj.meta
node_modules.meta
Test.meta
test.meta
# extension files
*.sln
*.sln.meta
*.csproj
*.csproj.meta
*.ps1
*.ps1.meta